.about {
  padding: 27px 0 42px;
}

.about__title {
  margin-bottom: 38px;
}

.about__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    column-gap: 58px;
    row-gap: 90px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    column-gap: 0;
    grid-template-columns: repeat(4, 1fr);
  }
}

.about__item {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 245px;
    margin-right: 80px;
  }
}

.about__item:last-of-type {
  margin-bottom: 0;
}

.about__content {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 60px;
  margin: 0;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding-left: 0;
    padding-top: 91px;
  }
}

.about__content::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 60px;
  height: 60px;
  background-color: $basic-color;

  @media (min-width: $tablet-width) {
    top: 0;
    width: 80px;
    height: 80px;
  }
}

/*
.about__content--healthy
.about__content--easy
.about__content--meal
.about__content--changes
*/
