.burger-button {
  position: relative;
  width: 24px;
  height: 16px;
  padding: 0;

  background-color: transparent;
  border: none;
}

.burger-button__decoration,
.burger-button__decoration::before,
.burger-button__decoration::after {
  position: absolute;

  display: block;
  width: 24px;
  height: 1.5px;
  background-color: $black-color;
}

.burger-button__decoration::before,
.burger-button__decoration::after {
  content: "";
}

.burger-button__decoration::before {
  transform: translateY(-8px);
}

.burger-button__decoration::after {
  transform: translateY(8px);
}
