.burger-button {
  position: relative;
  width: 24px;
  height: 24px;
  padding: 0;

  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.no-js .burger-button {
  display: none;
}

.burger-button--closed .burger-button__decoration {
  position: absolute;
  left: 0;
  width: 24px;
  height: 1.5px;
  background-color: $black-color;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 24px;
    height: 1.5px;
    background-color: $black-color;
  }

  &::before {
    transform: translateY(-8px);
  }

  &::after {
    transform: translateY(8px);
  }
}

.burger-button--opened .burger-button__decoration {
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 1.5px;
    background-color: $black-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
