.button {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  font-family: $special-font-stack;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $white-color;
  background-color: $basic-color;
  border: none;
}

.button--small-text {
  font-size: 14px;
  line-height: 18px;
}

.button--colorless {
  color: #444444;
  background-color: #f2f2f2;
}
