.button {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;

  font-family: $special-font-stack;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $white-color;

  background-color: $basic-color;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($white-color, 0.3);
  }

  &--wide {
    @media (min-width: $tablet-width) {
      padding: 16px;
      font-size: 20px;
    }
  }

  &--colorless {
    color: #444444;
    background-color: #f2f2f2;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(#444444, 0.3);
    }
  }
}
