.catalog {
  padding-bottom: 35px;
}

.catalog__title {
  margin-bottom: 37px;
}

.catalog__list {
  margin-top: 0;
  margin-bottom: 27px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}
