.catalog {
  padding-bottom: 35px;
}

.catalog__title {
  margin-bottom: 37px;
}

.catalog__list {
  margin-top: 0;
  margin-bottom: 27px;
  padding: 0;
  list-style: none;
}

.catalog__item:not(:last-of-type) {
  margin-bottom: 25px;
}
