.container {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  &--narrow {
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      padding-left: 70px;
      padding-right: 70px;
    }
  }
}
