.example {
  background-color: $section-background;

  @media (min-width: $tablet-width) {
    position: relative;
    background-color: $white-color;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 462px;
      background-color: $section-background;
    }

    @media (min-width: $desktop-width) {
      top: 195px;
      height: auto;
    }
  }

  &::after {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      left: calc((100% - 1220px) / 2 + 935px);
      right: 0;
      bottom: 0;
      top: 195px;
      height: auto;
      background-color: #eaeaea;
    }
  }
}

.example__wrapper {
  z-index: 2;
  position: relative;
  padding-top: 27px;
  padding-bottom: 25px;

  &::before {
    @media (min-width: $tablet-width) {
      @include line-separator;
      top: 0;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    padding-top: 0;
  }
}

.example__info {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.example__title {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 58px;
    margin-bottom: 147px;
  }
}

.example__intro {
  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 436px;
    margin-bottom: 68px;
  }
}

.example__facts {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    width: 366px;
  }
}

.example__facts-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__facts-item {
  box-sizing: border-box;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 73px;
    margin-right: 42px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.example__facts-number {
  margin-bottom: 8px;
  padding-top: 15px;
  font-family: $special-font-stack;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black-color;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__facts-description {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  font-size: 12px;
  line-height: 12px;
  background-color: $section-background;

  @media (min-width: $tablet-width) {
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: $white-color;
  }

  @media (min-width: $desktop-width) {
    background-color: $section-background;
  }
}

.example__br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.example__cost {
  font-family: $special-font-stack;
  font-size: 14px;
  line-height: 20px;

  text-align: center;
  text-transform: uppercase;

  color: $black-color;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    text-align: left;
  }
}

.example__cost-description {
  @media (min-width: $desktop-width) {
    display: block;
    margin-right: 63px;
  }
}

.example__cost-value {
  @media (min-width: $desktop-width) {
    display: block;
  }
}

.example__slider-images {
  position: relative;
  height: 242px;
  margin-bottom: 22px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    height: 520px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.example__slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &--before {
    @media (min-width: $tablet-width) {
      clip-path: inset(0 50% 0 -80px);
    }
  }

  &--after {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      clip-path: inset(0 0 0 50%);
    }
  }
}

.example__image {
  position: absolute;
  left: 50%;
  top: 0;
  width: auto;
  height: 242px;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    height: 520px;
  }

  &--before {
    transform: translateX(calc(-50% - 2px));

    @media (min-width: $tablet-width) {
      transform: translateX(-50%);
    }

    @media (min-width: $desktop-width) {
      transform: translateX(calc(-50% - 26px));
    }
  }

  &--after {
    transform: translateX(calc(-50% + 9px));

    @media (min-width: $tablet-width) {
      transform: translateX(calc(-50% + 25px));
    }

    @media (min-width: $desktop-width) {
      transform: translateX(-50%);
    }
  }
}

.example__slider-control {
  display: flex;
  justify-content: center;
  margin: 0 28px;

  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: -10px; //Размер padding кнопок
    margin-right: -10px;
  }
}

.example__state-button {
  $button-padding: 10px;

  min-width: 70px;
  padding: $button-padding;
  font-family: $special-font-stack;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black-color;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 20px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 4px;
      transform: translateX(-50%);

      width: calc(100% - 2 * #{$button-padding});
      height: 1px;
      background-color: transparent;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
    }
  }

  &:hover {
    &::after {
      border-bottom-style: solid;
    }
  }

  &:active {
    &::after {
      border-bottom-color: transparent;
    }
  }
}

.example__scale {
  flex-grow: 1;
  display: flex;
  align-items: center;
  min-width: 82px;
  max-width: 250px;
  height: 14px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: $white-color;
  border: 1px solid #cdcdcd;
  border-radius: 6px;


  @media (min-width: $tablet-width) {
    max-width: 428px;
    height: 6px;
    margin-left: 14px;
    margin-right: 14px;
    background-color: #dcdcdc;
    border: none;
  }
}

.example__bar-wrapper {
  $margin: 5px;

  width: calc(100% - 2 * #{$margin});
  margin: 0 $margin;
}

.example__bar {
  height: 6px;
  background-color: $basic-color;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    position: relative;
    background-color: transparent;
  }
}

.example__toggle {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 50%;
    right: 0;
    width: 32px;
    height: 32px;
    transform: translate(50%, -50%);
    background-color: $white-color;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    }

    &:active {
      border-color: $basic-color;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      width: 8px;
      height: 8px;
      background-color: $basic-color;
      border-radius: 50%;
    }
  }
}
