.extra-card {
  padding-top: 13px;
  padding-bottom: 18px;
  border-top: 1px solid #cdcdcd;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &:last-of-type {
    padding-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.extra-card__title {
  margin-top: 0;
  margin-bottom: 13px;
  font-family: $special-font-stack;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $black-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
  }
}

.extra-card__options {
  margin-top: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    flex-grow: 1;
  }
}

.extra-card__value {
  margin-left: 0;

  @media (min-width: $desktop-width) {
    width: 80px;
  }
}

.extra-card__button {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
