.extra {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.extra__title {
  grid-column: 1 / -1;
  margin-bottom: 35px;
}

.extra__list {
  grid-column: 1 / -2;
  padding: 0;
  margin-top: 0;
  margin-bottom: 40px;
  list-style: none;
}

.extra__gift {
  box-sizing: border-box;
  padding-top: 186px;
  height: 289px;
  background-image: url("../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: rgba($basic-color, 0.85);
}

.extra__description {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: $white-color;
  text-align: center;
}
