.form__item {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 28px;
  padding: 0;
  border: none;
}

.form__item--result {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.form__label {
  margin-bottom: 13px;
}

.form__label:last-of-type {
  margin-bottom: 0;
}

.form__legend {
  margin-bottom: 37px;
}
