.legend {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: $special-font-stack;
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
  color: $black-color;

  & span {
    display: inline-block;
    background-color: $page-background;
    padding-right: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    height: 2px;
    width: calc(100vw - (50vw - 50%));
    left: 0;
    top: 50%;
    transform: translateY(50%);
    background-color: $basic-color;
  }

  @media (max-width: $mobile-width-only) {
    &--multiline {
      & span {
        margin-right: 79px;
      }

      &::after {
        top: 30%;
      }
    }
  }


  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: -40px;

    & span {
      padding-right: 40px;
      padding-left: 40px;
    }

    &::after {
      width: calc(100vw + 40px);
      left: calc(50% - 50vw);
    }
  }
}
