.main-title {
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;

  color: $black-color;

  &--index {
    @media (max-width: $mobile-width-only) {
      color: $white-color;
    }
  }
}
