.nutrition__programs-list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 40px;
  }
}

.nutrition__programs-item {
  display: flex;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}
