.page-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 11px;

  &::after {
    @include line-separator;
    bottom: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.page-header__logo {
  display: block;
  height: 38px;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}

.page-header__nav {
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 450px;
  }

  @media (min-width: $desktop-width) {
    max-width: 590px;
  }
}

.page-header__nav-toggle {
  cursor: pointer;
}
