.page-footer__top {
  padding-top: 28px;
  padding-bottom: 22px;
  background-color: $section-background;

  &--index {
    background-color: $page-background;
  }
}

.page-footer__top-wrapper {
  display: flex;
  justify-content: space-between;
}

.page-footer__invite {
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  color: $black-color;
}

.page-footer__address {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.page-footer__map iframe {
  display: block;
  border: none;
}

.page-footer__bottom {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: $section-background;
}

.page-footer__logo {
  display: block;
  margin-bottom: 32px;
  text-align: center;
}

.page-footer__social {
  margin-bottom: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__link {
  font-size: 16px;
  line-height: 16px;
  color: $basic-text-color;
}
