.page-footer__contacts {
  background-color: $section-background;

  &--index {
    background-color: $page-background;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.page-footer__contacts-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 26px;

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 2;
    top: 95px;
    width: 420px;
    padding: 66px 75px 51px;
    background-color: $page-background;
  }
}

.page-footer__invite {
  margin: 0;

  font-family: $special-font-stack;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  color: $black-color;
}

.page-footer__address {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.page-footer__map iframe {
  display: block;
  border: none;
}

.page-footer__bottom {
  padding-top: 39px;
  padding-bottom: 35px;
  background-color: $section-background;
}

.page-footer__bottom-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.page-footer__social {
  margin-bottom: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__link {
  font-size: 16px;
  line-height: 16px;
  color: $basic-text-color;
}

.page-footer__copyright {
  @media (min-width: $tablet-width) {
    text-align: right;
  }
}
