.page-footer__contacts {
  background-color: $section-background;

  &--index {
    background-color: $page-background;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.page-footer__contacts-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    top: 95px;
    width: 570px;
    padding-right: 90px;
    padding-left: 76px;
    background-color: $page-background;
  }
}

.page-footer__invite {
  margin: 0;
  font-family: $special-font-stack;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
  }
}

.page-footer__address {
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.page-footer__city {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 20px;
  }
}

.no-js .page-footer__map {
  background-image: url("../img/static-map/static-map-mobile.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: auto 100%;
  background-position: center;

  @media (min-width: $tablet-width) {
    background-image: url("../img/static-map/static-map-tablet.png");
  }
}

.page-footer__map iframe {
  display: block;
  width: 100%;
  height: 362px;
  border: none;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.page-footer__bottom {
  padding-top: 39px;
  padding-bottom: 35px;
  background-color: $section-background;

  @media (min-width: $tablet-width) {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
  }
}

.page-footer__bottom-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}

.page-footer__logo {
  display: block;
  width: 128px;
  height: auto;
  margin-bottom: 27px;
  margin-right: auto;
  margin-left: auto;

  &[href]:hover {
    opacity: 80%;
  }

  &[href]:active {
    opacity: 60%;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-left: 0;
  }
}

.page-footer__social {
  margin-bottom: 22px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-bottom: 7px;
    padding: 0;
    border: none;
  }
}

.page-footer__copyright {
  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.page-footer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: $basic-text-color;
  fill: #666666;

  &:hover {
    fill: $basic-color;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    display: inline-flex;
    justify-content: flex-end;
  }
}

.page-footer__link span {
  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-right: 22px;
    margin-bottom: 4px;
  }
}
