.program {
  position: relative;
  display: grid;
  grid-template-columns: 71px auto;
  grid-template-areas:
    "p-icon p-title"
    "p-text p-text"
    "p-link p-link";
  padding: 30px 20px 18px;
  background-color: $section-background;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr max-content;
    grid-template-areas:
      "p-title p-icon"
      "p-text p-icon"
      "p-link p-icon";
    padding: 77px 53px 61px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 162px 1fr;
    grid-template-areas:
      "p-icon p-title"
      "p-text p-text"
      "p-link p-link";
    padding: 77px 52px 64px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: $basic-color;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 92px;
      left: auto;
      right: 61px;
      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      top: 47px;
      left: 52px;
      right: auto;
      width: 100px;
      height: 100px;
    }
  }

  &::after {
    content: "";
    z-index: 2;
    grid-area: p-icon;
    background-repeat: no-repeat;
  }
}

.program--slim {
  &::after {
    width: 50px;
    height: 53px;
    margin-top: -9px;
    margin-left: 9px;
    background-image: url("../img/svg/program-slim.svg");

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 192px;
      margin-top: 4px;
      margin-right: 39px;
      margin-left: 40px;
      background-size: 140px 192px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      margin-top: -36px;
      margin-right: 0;
      margin-left: 15px;
      background-size: 70px 97px;
    }
  }
}

.program--pro {
  &::after {
    width: 67px;
    height: 50px;
    margin-top: 5px;
    margin-left: -7px;
    background-image: url("../img/svg/program-pro.svg");

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
      margin-top: 59px;
      margin-right: -25px;
      margin-left: 18px;
      background-size: 268px 112px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 100px;
      margin-top: -10px;
      margin-right: 0;
      margin-left: -19px;
      background-size: 134px 56px;
    }
  }
}

.program__title {
  grid-area: p-title;
  margin-top: 0;
  margin-bottom: 29px;

  font-family: $special-font-stack;
  font-size: 24px;
  font-weight: normal;
  line-height: 37px;
  text-transform: uppercase;

  color: $black-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
  }
}

.program__description {
  grid-area: p-text;
  margin-top: 0;
  margin-bottom: 15px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
    padding-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.program__link {
  grid-area: p-link;
  position: relative;
  display: inline-block;
  width: max-content;
  padding: 4px 48px 4px 0;
  font-family: $special-font-stack;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  text-transform: uppercase;

  color: $black-color;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
  }

  &::before {
    width: 18px;
    height: 2px;
    background-color: #000000;
    right: 14px;

    @media (min-width: $desktop-width) {
      right: 11px;
    }
  }

  &::after {
    right: 3px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left: 7px solid #000000;

    @media (min-width: $desktop-width) {
      right: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 57px 0 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.program__link:hover {
  &::before {
    width: 26px;
    right: 6px;

    @media (min-width: $desktop-width) {
      right: 3px;
    }
  }

  &::after {
    right: -5px;

    @media (min-width: $desktop-width) {
      right: -8px;
    }
  }
}

.program__link:active {
  opacity: 0.3;
}
