.promo {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 302px;

    background-color: #4e4d52;
    background-image: linear-gradient(to top, rgba($basic-color, 0.85), rgba($basic-color, 0.85)),
      url("../img/index-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba($basic-color, 0.85), rgba($basic-color, 0.85)),
        url("../img/index-bg-mobile@2x.jpg");
      background-size: auto 302px;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      top: 0;
      left: 50%;
      display: block;
      width: 50%;
      height: 694px;

      background-image: linear-gradient(to top, rgba($basic-color, 0.85), rgba($basic-color, 0.85)),
        url("../img/index-bg-desktop.jpg");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(to top, rgba($basic-color, 0.85), rgba($basic-color, 0.85)),
          url("../img/index-bg-desktop@2x.jpg");
      }
    }
  }

  @media (min-width: $desktop-width) {
    position: static;
  }
}

.promo__wrapper {
  position: relative;
  padding-top: 27px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 529px;
    padding-left: 87px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    margin-bottom: 82px;
    padding-top: 111px;
    padding-bottom: 130px;
    padding-left: 80px;
    min-height: 582px;
  }
}

.promo__title {
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    text-align: left;
  }
}

.promo__lead {
  margin: 0 0 29px 0;
  font-family: $special-font-stack;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: $black-color;

  @media (max-width: $mobile-width-only) {
    color: $white-color;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__image {
  margin: 0 auto 2px;
  width: 280px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    margin-bottom: 0;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    left: 448px;
    bottom: 54px;
    transform: none;
    width: 552px;
  }
}

.promo__image img {
  display: block;
}

.promo__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 245px;
  }
}
