.promo {
  position: relative;
  padding-top: 27px;

  @media (min-width: $desktop-width) {
    padding-bottom: 130px;
  }
}

.promo::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 302px;
  top: 0;

  background-image: linear-gradient(to top, rgba($basic-color, 0.85), rgba($basic-color, 0.85)),
    url("../img/index-background-mobile.jpg"),
    linear-gradient(to top, #4e4d52, #4e4d52);
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 50%;
    height: 694px;
    top: -112px;
    left: 50%;

    background-image: linear-gradient(to top, rgba($basic-color, 0.85), rgba($basic-color, 0.85)),
      url("../img/index-background-desktop.jpg"),
      linear-gradient(to top, #4e4d52, #4e4d52);
    background-repeat: no-repeat;
    background-position: left center;
  }
}

.promo__top-wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 87px;
  }
}

.promo__title {
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.promo__lead {
  margin: 0 0 29px 0;
  font-family: $special-font-stack;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: $black-color;

  @media (max-width: $mobile-width-only) {
    color: $white-color;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.promo__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 244px;
  }
}
