.promo__top-wrapper {
  box-sizing: border-box;
  margin-bottom: 138px;
  padding-top: 27px;
  height: 302px;
  text-align: center;

  background-image: linear-gradient(to top, rgba($basic-color, 0.85), rgba($basic-color, 0.85)),
    url("../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.promo__title {
  margin-bottom: 25px;
  text-align: center;
}

.promo__lead {
  margin: 0 0 29px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
}

.promo__bottom-wrapper {
  margin-bottom: 22px;
  text-align: center;
}

.promo__button {
  width: 100%;
}
