.radio {
  display: block;
  font-family: $special-font-stack;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.radio__name {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 45px;
  min-height: 30px;

  &::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    min-height: 40px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }
}

.radio__name:hover::before {
  border-color: #bababa;
}

.radio__input:checked + .radio__name::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 8px;
  border-radius: 50%;
  background-color: $basic-color;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    left: 11px;
  }
}

.radio__input:disabled + .radio__name {
  opacity: 30%;
}

.radio__input:focus + .radio__name::before {
  border-color: #444444;
  border-width: 2px;
}
