.select-program__title {
  margin-bottom: 37px;
}


.select-program__lead {
  margin-top: 0;
  margin-bottom: 39px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $black-color;
  text-transform: uppercase;
}
