.select-program {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.select-program__title {
  margin-bottom: 37px;
}


.select-program__lead {
  margin-top: 0;
  margin-bottom: 39px;
  font-family: $special-font-stack;
  font-size: 14px;
  line-height: 18px;
  color: $black-color;
  text-transform: uppercase;
}
