.select-program {
  padding-top: 27px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 73px;
    padding-bottom: 82px;
  }
}

.select-program__title {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
}


.select-program__lead {
  margin-top: 0;
  margin-bottom: 39px;
  font-family: $special-font-stack;
  font-size: 14px;
  line-height: 18px;
  color: $black-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    font-size: 20px;
    line-height: 30px;
  }
}
