.site-nav {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.site-nav__item {
  position: relative;
  padding-left: 22px;
  padding-right: 22px;
  text-align: center;

  &::before {
    @include line-separator;
    top: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: 35px;
    padding-left: 0;
    padding-right: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-nav__item a {
  position: relative;
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
  font-family: $special-font-stack;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: $black-color;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    padding-top: 22px;
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 20px;
  }
}

.site-nav__item a[href] {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-nav__item--current a {
  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $basic-color;
    }
  }
}

.site-nav__item--index a {
  @media (min-width: $desktop-width) {
    color: $white-color;
  }
}

.site-nav__item--index.site-nav__item--current a {
  &::after {
    @media (min-width: $desktop-width) {
      background-color: $white-color;
    }
  }
}
