.social {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.social__link {
  display: block;

  &--ig,
  &--vk {
    fill: #666666;

    &:hover {
      fill: $basic-color;
    }
  }

  &--fb {
    stroke: #666666;

    &:hover {
      stroke: $basic-color;
    }
  }

  &:active {
    opacity: 30%;
  }
}
