.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  margin-right: 25px;

  @media (min-width: $tablet-width) {
    margin-right: 24px;
  }
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  fill: #666666;

  &:hover {
    fill: $basic-color;
  }

  &:active {
    opacity: 30%;
  }
}


.social__icon {
  @media (min-width: $tablet-width) {
    width: auto;

    &--vk {
      height: 17px;
    }

    &--ig {
      height: 23px;
    }

    &--fb {
      position: absolute;
      height: 29px;
      right: 14px;
    }
  }
}
