//Colors

$basic-color: #68b738;
$white-color: #ffffff;
$black-color: #000000;
$page-background: #ffffff;
$section-background: #f2f2f2;
$basic-text-color: #444444;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

//Fonts

$basic-font-stack: "Arial", sans-serif;
$special-font-stack: "Oswald", "Helvetica", sans-serif;
